a{
   text-decoration:none;
}
.writer-page{
   justify-content: space-evenly;
   display: flex;
   flex-wrap: wrap;
   gap:4rem;
}

.book-image img{
   width:100px;
}
.card-detail{
   display: flex;
}
.detail-photo{
   width:100px;
   width:100px;
   object-fit: cover;
}
.image-card{
   width: 18rem;
   height:200px;
   object-fit:cover;
}
.loading{
   height:40rem;
}
